<%= form_with(model: [@calendar, event]) do |form| %>
  <div class="col">
    <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
          <% event.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col">
        <label>Type of Event</label>
      </div>
      <div class="col">
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadioEvent" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadioEvent">Default Event</label>
        </div>
      </div>
      <div class="col">
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadioRoutine" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadioRoutine">Routine Event</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :name, class: 'input-group-text' %>
      <%= form.text_area :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :description, class: 'input-group-text' %>
      <%= form.rich_text_area :description, class: 'form-control' %>
    </div>

    <div class="row">
      <div class="col">
        <%= form.label :starts_at %>
        <%= form.datetime_select :starts_at, class: 'form-control' %>
      </div>

      <div class="col">
        <%= form.label :ends_at %>
        <%= form.datetime_select :ends_at, class: 'form-control' %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <%= form.label :color %>
        <%= form.select :color, Event::COLOR_OPTIONS %>
      </div>
    </div>

    <div class="d-flex d-flex-row justify-content-center align-items-center btn-group btn-group-lg">
      <%= form.submit class: 'btn btn-block btn-primary' %>
      <%= link_to :back, class: 'btn btn-block btn-outline-danger' do %>
        <%= icon('skip-backward-btn') %> Back
      <% end %>
    </div>
  </div>
<% end %>
