<div class="d-flex flex-column">
  <div class="d-flex justify-content-center align-items-center">
    <h1><%= icon('calendar-range-fill') %> <%= @calendar.name %></h1>
  </div>
  <div class="btn-group">
    <%= link_to edit_calendar_path(@calendar), class: 'btn btn-warning' do %>
      <%= icon('pencil-square') %> Edit
    <% end %>
    <%= link_to new_calendar_path, class: 'btn btn-outline-primary' do %>
      <%= icon('plus-square') %> New Calendar
    <% end %>
    <%= link_to :back, class: 'btn btn-outline-danger' do %>
      <%= icon('skip-backward-btn') %> Back
    <% end %>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <%= @calendar.description %>
  </div>
</div>
<hr>
<%= month_calendar(events: @events, attribute: :starts_at, end_attribute: :ends_at) do |date, events| %>
  <% if month(start_date) == month(date) %>
  <h4><span class="badge rounded-pill bg-primary text-white">
  <% else %>
    <h4><span class="badge rounded-pill bg-dark text-white">
  <% end %>
    <%= @calendar.display_as_day_number(date) %>
  </span></h4>
  <% @calendar.get_holidays(date).each do |holiday| %>
    <b><%= holiday %></b>
  <% end %>
  <hr>

  <div class="row-cols-1">
    <% events.sort_by{|e| e.starts_at }.each do |event| %>
      <div class="card border-secondary <%= event.background_color %> mb-1">
        <div class="card-header">
          <%= event.name %>
        </div>
        <div class="card-body">
          <div class="card-text"><%= event.description %></div>
          <%= link_to calendar_event_path(@calendar, event), class: 'btn btn-sm btn-outline-primary' do %>
            <%= icon('info-square') %> View Event
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <%= icon('clock') %> Starts at <%= event.starts_at_time %> for <%= event.duration %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to :back, class: 'd-flex d-flex-row btn btn-lg btn-block btn-outline-danger justify-content-center align-items-center' do %>
  <%= icon('skip-backward-btn') %> Back
<% end %>
<br>