<div class="d-flex justify-content-center align-items-center">
  <h1><%= @calendar.name %></h1>
</div>
<%= @calendar.description %>
<hr>
<%= month_calendar(events: @events, attribute: :starts_at, end_attribute: :ends_at) do |date, events| %>
  <% if month(start_date) == month(date) %>
    <h4><span class="badge rounded-pill bg-primary text-white">
  <% else %>
    <h4><span class="badge rounded-pill bg-dark text-white">
  <% end %>
    <%= @calendar.display_as_day_number(date) %>
  </span></h4>
  <% @calendar.get_holidays(date).each do |holiday| %>
    <b><%= holiday %></b>
  <% end %>
  <hr>
  <% events.each do |event| %>
    <%= event.name %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', :back %>
