<p>
  <strong>Name:</strong>
  <%= @calendar.name %>
</p>

<%= @calendar.description %>

<%= month_calendar(events: @events) do |date, events| %>
  <b><%= @calendar.display_as_day_number(date) %></b>
  <br>
  <% get_holidays(date).each do |holiday| %>
    <%= holiday %>
  <% end %>
  <hr>
  <% events.each do |event| %>
    <%= event.name %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', :back %>
