<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <title>Online Calendar</title>
  </head>

  <body>
    <%= render 'layouts/notices_and_alerts' %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
